  <!-- testing API
<h1 *ngIf="admin"> User is {{admin.userName}}</h1>
<button mat-raised-button (click)="getAdmin()">Check</button> -->

<div class="banner">
    <div class="bootstrap-wrapper">
      <div class="container">
        <br>        
           <br>
          <br>
          <br>
          <div style="padding-top: 40px;"  class="row row-cols-1 row-cols-md-3 g-5">
              <div class="col">
                  <a style="text-decoration: none;" routerLink="/addAirline">
                <div class="card">
                  <div style="height: 100px ;" class="card-body bg-info text-dark">
                      <h4 style="padding-top: 25px;"  class="card-title text-center">Add Airline</h4>
                    </div>
                </div>
              </a>
              </div>
              <div class="col">
                  <a style="text-decoration: none;" routerLink="/addFlight">
                <div class="card">
                  <div style="height: 100px ;" class="card-body bg-info text-dark">
                      <h4 style="padding-top: 25px;"  class="card-title text-center">Add Flight</h4>
                    </div>
                </div>
                </a>
              </div>
              <div class="col">
                <a style="text-decoration: none;" routerLink="/airlineList">
              <div class="card">
                <div style="height: 100px ;" class="card-body bg-info text-dark">
                    <h4 style="padding-top: 25px;"  class="card-title text-center">View Airline</h4>
                  </div>
              </div>
              </a>
              </div>
              <div class="col">
                  <a style="text-decoration: none;" routerLink="/flightList">
                <div class="card">
                  <div style="height: 100px ;" class="card-body bg-info text-dark">
                      <h4 style="padding-top: 25px;"  class="card-title text-center">View Flight</h4>
                    </div>
                </div>
                </a>
              </div>
            </div>
      </div>
    </div>
  </div>