<div class="banner">
    <div class="bootstrap-wrapper">
      <div class="container">
        <br>
          <!-- cards to navigate -->
           <br>
          <br>
          <br>
          <div style="padding-top: 40px;"  class="row row-cols-1 row-cols-md-3 g-5">
              <div class="col">
                  <a style="text-decoration: none;" routerLink="/search">
                <div class="card">
                  <div style="height: 100px ;" class="card-body bg-info text-dark">
                      <h4 style="padding-top: 25px;"  class="card-title text-center">Search Flight</h4>
                    </div>
                </div>
              </a>
              </div>
              <div class="col">
                  <a style="text-decoration: none;" routerLink="/pnrticket">
                <div class="card">
                  <div style="height: 100px ;" class="card-body bg-info text-dark">
                      <h4 style="padding-top: 25px;"  class="card-title text-center">View Ticket By PNR</h4>
                    </div>
                </div>
                </a>
              </div>
              <div class="col">
                  <a style="text-decoration: none;" routerLink="/viewTicket">
                <div class="card">
                  <div style="height: 100px ;" class="card-body bg-info text-dark">
                      <h4 style="padding-top: 25px;"  class="card-title text-center">View Ticket</h4>
                    </div>
                </div>
                </a>
              </div>
            </div>
      </div>
    </div>
  </div>