<div class="banner">
  <div class="bootstrap-wrapper">
    <div class="container">
      <br>
        <h1 class="text-center">Welcome to Flight Booking App</h1>
        <!-- cards to navigate -->
        <!-- <br>
        <br>
        <br>
        <div style="padding-top: 40px;"  class="row row-cols-1 row-cols-md-3 g-5">
            <div class="col">
                <a style="text-decoration: none;" routerLink="/login">
              <div class="card">
                <div style="height: 100px ;" class="card-body bg-info text-dark">
                  <h4 style="padding-top: 25px;"  class="card-title text-center">Admin Login</h4>
                </div>
              </div>
            </a>
            </div>
            <div class="col">
                <a style="text-decoration: none;" routerLink="">
              <div class="card">
                <div style="height: 100px ;" class="card-body bg-info text-dark">
                    <h4 style="padding-top: 25px;"  class="card-title text-center">Search Flight</h4>
                  </div>
              </div>
            </a>
            </div>
            <div class="col">
                <a style="text-decoration: none;" routerLink="">
              <div class="card">
                <div style="height: 100px ;" class="card-body bg-info text-dark">
                    <h4 style="padding-top: 25px;"  class="card-title text-center">Cancel Ticket</h4>
                  </div>
              </div>
              </a>
            </div>
            <div class="col">
                <a style="text-decoration: none;" routerLink="">
              <div class="card">
                <div style="height: 100px ;" class="card-body bg-info text-dark">
                    <h4 style="padding-top: 25px;"  class="card-title text-center">View Ticket</h4>
                  </div>
              </div>
              </a>
            </div>
          </div> -->
    </div>
  </div>
</div>