<div class="bootstarp-wrapper">
    <div class="container text-center mtt">
        <span style="color:blue;font-size: 30px;">Airlines</span><br><br>

        <div *ngIf="enb" class="alert alert-success" role="alert">
            {{enb}}
        </div>

        <div *ngIf="dis" class="alert alert-success" role="alert">
            {{dis}}
        </div>

        <div style="margin: 2%;">
            <table class="table">
                <thead>
                    <tr>
                        <td scope="col">Airline Name</td>
                        <td scope="col">Phone</td>
                        <td scope="col">Address</td>
                        <td scope="col">Action</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let u of airlines; index as i">
                        <td>{{u.airlineName}}</td>
                        <td>{{u.phone}}</td>
                        <td>{{u.address}}</td>
                        <td>
                            <button mat-raised-button color="primary" (click)="enable(u,u.id)">Enable</button>&nbsp;
                            <button mat-raised-button color="accent" (click)="disable(u,u.id)">Disable</button>&nbsp;
                            <button mat-raised-button color="warn" (click)="deleteRow(u,i)">Delete</button>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>